[submodule "VenturaHR-client"]
	path = VenturaHR-client
	url = https://github.com/luizamendes/VenturaHR-client.git
[submodule "VenturaHR-API"]
	path = VenturaHR-API
	url = https://github.com/luizamendes/VenturaHR-API.git
[submodule "VenturaHR-mobile"]
	path = VenturaHR-mobile
	url = https://github.com/luizamendes/VenturaHR-mobile.git
